<h1>Admin Console</h1>
<div class="ui small form segment" style="width: 50%">
	<div class="field">
		<label>Organization name</label>
		<input id='org' type="text" class="ui input organization" placeholder="<%= conf.organization %>">
	</div>
	<div class="field">
		<label>Admin Username</label>
		<input id='adm' type="text" class="ui input adminUsername" placeholder="<%= conf.adminUsername%>">
	</div>
	<div class="inline field">
		Must have <input id='mgr' type="text" class="ui small input minimumGirlRatio" 
						placeholder="<%= conf.minimumGirlRatio %>" /> girls to add 1 guy
	</div>
	<button type="button" class="ui button admin-submit">Update</button>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#org').val('<%= conf.organization %>');
	$('#adm').val('<%= conf.adminUsername %>');
	$('#mgr').val('<%= conf.minimumGirlRatio %>');
});


$('.admin-submit').click(function(){

	var organization = $('#org').val();
	var adminUsername = $('#adm').val();
	var minimumGirlRatio = $('#mgr').val();

	$.post('/adminupdate',
		{organization: organization,
		adminUsername: adminUsername,
		minimumGirlRatio: minimumGirlRatio},
		function(res){
			alert('config updated');
			console.log(res.responseText);
			if (res.status == 'OK') {
				window.location = '/admin';
			}
		}).fail(function(res){
			alert('fail');
			if(window.console){
				console.log(res.responseText);
			}
		});
});

</script>